[submodule "paper"]
	path = paper
	url = https://git@git.overleaf.com/69dfbf67b7329193d2b55ea3
[submodule "baseline/agentbench"]
	path = baseline/agentbench
	url = https://github.com/eth-sri/agentbench
[submodule "baseline/agentbench_hf"]
	path = baseline/agentbench_hf
	url = https://huggingface.co/datasets/eth-sri/agentbench
